__pycache__
checkpoints
lightning_logs
d=*
data/TIMESERIES_DATA_PARSED
data/MNIST
data/KMNIST
data/indices
UQ/
theta_stats/
experiments/
*.pyc
utils/train_val_indices_MNIST_CV_recreate_val.py
scripts/.*
notebooks/
*.ipynb
.ipynp*
